/* body { */
  /* background-color:black; */
 /* }  */

.container {
    width: 400px;
    height: 20px;
    float: center;
    margin-top: -50px;
}

.input-field {
   background-color:#3FB567;
   height: 10px;
}

#input-stocks {
  background-color:#3FB567;
  float: center;
}

p {
    color: black;  
}

.auth-image {
    float: left;
    width: 200px;
    height: 200px;
    /* margin-top: 15px; */
    margin-right: 25px;
  }

  #news {
    color: black;
  }
  
h3 {
    color: black;
}

/* table {
  color: black;
  margin-top: 50px;
} */

.search {
  width: 95%;
  margin-left: 50px;
  margin-top: 50px;
}

.nav-wrapper {
  padding: 0px 70px;
  background-color: #3FB567; 
}

#news{
  size: 30px;
}

.card {
  height: 75%;
  width: 75%;
}

ul {
  color: black;
}

.market {
  background: #0039BE;
  color: white;
  margin-top: 75px;
  padding: 5px 25px;
  width: 20%;
}

.tableClass {
  float: center;
}

.company {
  background: #ECC000;
  color: white;
  margin-top: 75px;
  padding: 5px 25px;
  width: 20%;
}

.business {
  background: #CC1800;
  color: white;
  margin-top: 75px;
  padding: 5px 25px;
  width: 20%;
  margin-bottom: 25px;
}

.buysell {
  width: 90%;
  margin-left: 70px;
}

.collection {
  width: 90%;
  margin-left: 70px;
  margin-top: 125px;
}

img {
  width: 250px;
  height: 250px;
}

.striped {
  margin-top: 10px;
  margin-bottom: 60px;
}

#totop{
  color:blue;
  padding-bottom: 5px;
}

#secondrow{
  padding-bottom: 5px;
}

#thirdrow{
  padding-bottom: 5px;
}

#fourrow{
  padding-bottom: 5px;
}

#fiverow{
  padding-bottom: 5px;
}

h3 {
  color: black;
}

.firstRowClass {
  padding-right: 60px;
}

.secondRowClass {
  padding-right: 62px;
}

.thirdRowClass {
  padding-right: 62px;
}

.fourRowClass {
  padding-right: 81px;
}

.fiveRowClass {
  padding-right: 73px;
}