.container {
    width: 400px;
    height: 25px;
    float: right;
    margin-top: -50px;
}
p {
    color: black;
    
}

.auth-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 25px;
  }
  #news {
    color: black;
  }
  
/* fix search height */
h3 {
    color: black;
}

table {
  color: black;
  margin-top: 50px;
}

.wrapper {
  width: 95%;
  margin-left: 50px;
}

.nav-wrapper {
  padding: 0px 40px;
   
}



#news{
  size: 30px;
 
}
#image{
  float:right;
}

