/* body {
  background-color: #A1A1A1;
} */

.container {
    width: 400px;
    height: 20px;
    float: right;
    margin-top: -50px;
    
}

.input-field {
   background-color:#3FB567;
   height: 10px;
}

#input-stocks {
  background-color:#3FB567;
  
}
p {
    color: black;
    
}

.auth-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 25px;
  }
  #news {
    color: black;
  }
  
/* fix search height */
h3 {
    color: black;
}

table {
  color: black;
  margin-top: 50px;
}

.wrapper {
  width: 95%;
  margin-left: 50px;
}

.nav-wrapper {
  padding: 0px 40px;
  background-color: #3FB567;
   
}



#news{
  size: 30px;
 
}
#image{
  float:right;
}

ul {
  color: black;
}

.market {
  background: #0039BE;
  color: white;
}

.company {
  background: #ECC000;
  color: white;
}

.business {
  background: #CC1800;
  color: white;
}
/* 
.mrkt {
  border: 1px solid grey;
} */

.buysell {
  width: 90%;
  margin-left: 70px;
}

.collection {
  width: 90%;
  margin-left: 70px;
  margin-top: 125px;
}

img {
  width: 250px;
  height: 250px;
}